<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
   <add name="amaralguinchoConnectionString"
      connectionString="server=127.0.0.1;user id=root;password=password;persistsecurityinfo=False;database=agencrypted"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <sessionState timeout="43200"></sessionState>
    <globalization
      fileEncoding="utf-8"
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      culture="pt-BR"
      uiCulture="pt-BR"
    />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/genericError.aspx">
      <error statusCode="404" redirect="~/error/404.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
    </staticContent>
  </system.webServer>

</configuration>
