/*Main Stylesheet by Caiobep*/

body{
  width:100%;
  margin:0;
  font-family:'Open Sans', sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

nav{
  background-color:rgba(255, 255, 255, 0.81);
  margin:0;
  padding:.2em;
  color:rgb(51, 51, 54);
  height:60px;
  font-size: 1em;
  font-weight: 300;
}

ul{
  display: block;
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

ul > li{
  display:inline-block;
  margin-left: 7em;
  cursor:pointer;
}

#mainLogo > span{
  font-size:25px;
  color: #e23535;
  margin-left: -200px;
}

a > img{
  position:absolute;
  top:3px;
  margin-left: -270px;
}

.copyrights{
  width:100%;
  font-weight: 300;
  font-size:0.8em;
  text-align: center;
}

.copyrights>a{
  font-weight: 400;
  color:rgba(17, 110, 218, 0.77);
}

.copyrights>a:hover{
  font-weight: 600;
  color:rgb(255, 0, 0);
}

.social>a>img{
  display: none;
 height: 30px;
 opacity: 0.6;
 margin-left:95%;
}

 a>img{
        height:60px;
      }


@media (max-width: 910px) {

  ul > li{
    margin-left: 80px
  }

}

@media(max-width: 725px){
  nav{
    padding:0;
  }

  ul{
    width: 80%;
  }

  ul > li{
    margin-left: 40px
  }

  li:first-child{
    margin-left: -70px;
  }

  #mainLogo{
    display: none;
  }

  content>img{
    content:url("../images/logo-comercial-flat.png");
  }
}
