@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body{
    margin:0;
    margin-left:55px;
    font-family:'Roboto',Arial,sans-serif;
    height:100%;
}

nav{
    width:55px;
    max-height:10000%;
    position:fixed;
    left:0px;
    padding:0;
    float:left;
    color:white;
    background-color:#043c81;
    margin-bottom:-50em;
    padding-bottom:50em;
}

nav>ul{
    list-style:none;
    padding-left:0;
}

    nav > ul > li {
        display: block;
        margin-top: 20px;
        padding: 10px 5px;
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        border-radius: 0.3em;
        -moz-transition: background 0.25s ease-in 0.15s;
        -o-transition: background 0.25s ease-in 0.15s;
        -webkit-transition: background 0.25s ease-in 0.15s;
        transition: background 0.15s ease-in 3.0;
    }

        nav > ul > li:hover {
            background-color: #17418b;
        }

nav>ul>li>.a{
    width:100%;
    padding:0;
    margin:0;
    text-decoration:none;
}

.a > img {
    height: 40px;
    padding: 0;
    margin: 0;
}

.a > figcaption {
    display:none;
}

.align{
    position:relative;
    left:-4px;
    font-size:12px;
    margin-left:0;
}

.a:hover figcaption {
    visibility: visible;
    opacity: 1;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

header{
    background-color:#177ac4;
    color:white;
    padding-left:10px;
}
header>h1{
    font-size:44px;
    font-weight:200;
}

content{
    text-align:center;
}

h1{
    font-family:'Roboto',Arial,sans-serif;
    font-weight:200;
}

h2{
    font-family:'Roboto', sans-serif;
    font-style:normal;
    font-weight:400;
    color:#177ac4;
}

footer{
    margin-top:50px;
    text-align:center;
    width:100%;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    margin-bottom:100px;
}
small>a{
    text-decoration:none;
}

small>a:hover{
    color:#03ff00;
}

.footer-simbols{
    font-size:18px;
    color:#989898;
    font-weight:500;
}

/*INPUTS*/
.groups{
    display:inline-block;
    width:50px;
    border:black solid 2px;
}

.container{
    padding-left:25%;
    padding-right:25%;
}

.container>h2{
    text-align:center;
}
