/*Main Stylesheet by Caiobep*/

body{
  width:100%;
  margin:0;
  font-family:'Open Sans', sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style: none;
  margin:0em;
  margin-left:0;
}

li{
  display:inline;
  position:relative;
  top:-1.5em;
  margin-left:10%;
  margin-rigth:10%;
  padding:5px;
}

li>a:hover{
  transition: background 0.3s linear 0.15s, color 0.3s linear 0.25s;
  background-color:rgba(0, 140, 255, 0.63);
  color:#FFFFFF;
  border-radius:1em;
  padding: 10px 10px;
  margin-left:-0.65em;
}

ul>li:nth-child(2) {
  position:relative;
  top:-23px;

  color:rgb(204, 33, 33);
  margin-left:0;
  margin-right:2%;
  font-size:22px;
}

ul>a{
  height:40px;
  margin-left:0em;
}


nav{
  background-color:rgba(255, 255, 255, 0.81);
  margin:0;
  padding:.2em;
  color:rgb(51, 51, 54);
  height:60px;;
  font-size: 1em;
  font-weight: 300;
}
