.ioetep{
    text-decoration:none;
}

.copyrights{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

h2{
    color:#b1b1b1;
}

.align-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}