<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="amaral_guinchoConnectionString"
      connectionString="Datasource=amaralguincho.mysql.uhserver.com;database=amaralguincho;uid=amaralwebmaster;pwd=@developercoffe1;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <!--<system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/pt-br/index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>-->

  <system.web>
  <!--  <urlMappings>
      <add url="~/pt-br/index.html" mappedUrl="~/pt-br/index.html"/>
    </urlMappings> 
    <customerrors mode="on" defaultredirect="pt-br/404.html">
      <error statuscode="404" redirect="pt-br/404.html"/>
    </customerrors>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=5.6.22, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>

</configuration>
