<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="amaral_guinchoConnectionString" connectionString="server=br-cdbr-azure-south-b.cloudapp.net;user id=b1db755373aee7;password=8a660ca4;persistsecurityinfo=True;database=amaral_guincho"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <!--<system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/pt-br/index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>-->

  <system.web>
  <!--  <urlMappings>
      <add url="~/pt-br/index.html" mappedUrl="~/pt-br/index.html"/>
    </urlMappings> -->
    <customErrors mode="On" defaultRedirect="pt-br/404.html">
      <error statusCode="404" redirect="pt-br/404.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=5.5.45, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>

</configuration>
