<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="amaral_guinchoConnectionString" connectionString="server=127.0.0.1;user id=root;password=Caiobep360;persistsecurityinfo=True;database=amaral_guincho"
      providerName="MySql.Data.MySqlClient" />
    <add name="amaral_guinchoConnectionString2" connectionString="server=127.0.0.1;user id=root;password=Caiobep360;database=amaral_guincho"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
  <!--  <customErrors mode="On" defaultRedirect="pt-br/404.html">
      <error statusCode="404" redirect="pt-br/404.html"/>
    </customErrors> -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>